@use "../common/Variables" as vars;

.button {
  padding: 10px 20px;
  background: vars.$mainColor;
  border-radius: 5px;
  border: none;
  user-select: none;
  color: vars.$white;
  cursor: pointer;
  transition: 0.2s all ease;
  display: inline-block;

  &:hover {
    background: vars.$mainColorHover;
  }

  &.start {
    margin: 0 20px;
  }
}
