@use "../common/Variables" as vars;

.header {
  margin-bottom: 30px;
  user-select: none;

  h1 {
    font-family: "Kaushan Script";
    font-size: 80px;
    position: relative;
    margin: 0;

    span {
      font-weight: 300;
      margin: 0;
      font-size: 25px;
      position: absolute;
      right: 110px;
      bottom: -6px;
    }
  }
}
