@use "sass:color";
@use "./Variables" as vars;

body {
  &:before {
    transition: 0.2s all ease;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
  }

  &.dark {
    color: vars.$darkModeTextColor;

    @media (max-width: vars.$breakpoint-mobile) {
      background: #222;
    }

    @media (min-width: vars.$breakpoint-mobile) {
      &:before {
        background: rgba(0, 0, 0, 0.7);
        background-attachment: fixed;
        position: fixed;
      }
    }

    .container {
      background: #222;

      @media (min-width: vars.$breakpoint-mobile) {
        border: 1px vars.$darkModeInputBorderColor solid;
      }
    }

    .character {
      background: vars.$darkModeMainColor;
      color: vars.$darkModeTextColor;
    }

    .scores {
      &__total {
        &__correct {
          span {
            color: vars.$darkModeScoresCorrectTextColor;
          }
        }

        &__wrong {
          span {
            color: vars.$darkModeScoresWrongTextColor;
          }
        }
      }
    }

    .input {
      .answer {
        background: vars.$darkModeAnswerBackground;
        color: vars.$darkModeAnswerTextColor;
        border: 1px solid #444;
      }

      .submit {
        background: vars.$darkModeAnswerButtonBackground;
        color: vars.$darkModeAnswerButtonTextColor;

        &:hover {
          background: color.scale(
            vars.$darkModeAnswerButtonBackground,
            $lightness: 12%
          );
        }
      }
    }

    .answer-options {
      button {
        background: vars.$darkModeAnswerOptionsBackground;
        color: vars.$darkModeAnswerOptionsTextColor;
        border-color: vars.$darkModeAnswerOptionsBorderColor;

        &:hover {
          background: vars.$darkModeAnswerOptionsBackgroundHover;
          color: vars.$darkModeAnswerOptionsTextColorHover;
          border-color: vars.$darkModeAnswerOptionsBorderColorHover;
        }
      }
    }

    .options {
      &__box {
        border-color: vars.$darkModeInputBorderColor !important;

        &__character {
          &__label {
            &:hover {
              background: vars.$darkModeOptionsHoverBackground;
            }
          }
        }

        &__check {
          background: vars.$darkModeCheckActiveBackground;
          color: vars.$darkModeCheckActiveTextColor;
        }
      }

      &--rows {
        .options__box {
          background: vars.$darkModeBackground;

          &--checked {
            background: #222;
          }
        }
      }

      &--highlight {
        background: #222;
        border-color: vars.$darkModeInputBackground;

        svg:not(.fa-check).active {
          color: vars.$darkModeCheckActiveBackground;
        }
      }

      &__sub {
        background: #222;
        border-color: vars.$darkModeInputBorderColor;

        label:hover {
          border-color: vars.$darkModeInputBorderColorHover;

          .options__sub__checkbox {
            border-color: vars.$darkModeInputBorderColorHover;
          }
        }

        &__checkbox {
          border-color: vars.$darkModeInputBorderColor;

          &__check {
            color: vars.$darkModeMainColor;
          }
        }
      }
    }

    .input-control {
      background: vars.$darkModeInputBackground;
      color: vars.$darkModeInputTextColor;
      border-color: vars.$darkModeInputBorderColor;

      &:hover {
        color: vars.$darkModeInputTextColorHover;
        background: vars.$darkModeInputBackgroundHover;
        border-color: vars.$darkModeInputBorderColorHover;
      }
    }

    .start-screen {
      .button {
        color: vars.$darkModeInputAltTextColor;
        background: vars.$darkModeInputAltBackground;
        border-color: vars.$darkModeInputAltBorderColor;

        &:hover {
          color: vars.$darkModeInputAltTextColorHover;
          background: vars.$darkModeInputAltBackgroundHover;
          border-color: vars.$darkModeInputAltBorderColorHover;
        }
      }

      .characters-header {
        background: #222;
        border-color: vars.$darkModeInputBorderColor;
      }
    }

    .input-row {
      background: #222;
      border-color: vars.$darkModeInputBorderColor;
    }

    .checkbox {
      &:hover .checkbox__box {
        border-color: vars.$darkModeInputBorderColorHover;
      }

      &__box {
        border-color: vars.$darkModeInputBorderColor;
        background: none;

        &__check {
          color: #e5e5e5;
        }
      }
    }

    /* Modal */
    .swal2-modal {
      background: vars.$darkModeBackground;

      .swal2-title {
        color: vars.$darkModeTextColor;
      }

      .swal2-html-container {
        color: vars.$darkModeTextColor;

        .report-totals__box {
          border-color: vars.$darkModeInputBorderColor !important;
        }

        .report-wrong-answers__item {
          border-color: vars.$darkModeInputBorderColor;
        }
      }

      .swal2-styled.swal2-confirm {
        color: vars.$darkModeInputAltTextColor;
        background: vars.$darkModeInputAltBackground !important;
        border: none !important;
        outline: none;
        transition: 0.2s all ease;

        &:hover {
          background: vars.$darkModeInputAltBackgroundHover !important;
        }
      }
    }

    .game-timer > div > div {
      color: vars.$darkModeTextColor !important;
    }
  }
}
